* {
	font-family: "FiraCode Nerd Font";
	font-size: 14px;
	min-height: 0;
  padding: 1.5px 0px;
}
#waybar {
	background: #101010;
	color: #c6d0f5;
	border-radius: 0px 0px 5px 5px;
}
.modules-left {
	margin-left: 8px;
}
.modules-right {
	margin-right: 8px;
}

#workspaces button {
	all: initial;
	padding: 0 6px;
	margin: 0 1.5px;
	min-width: 9px;
}
#workspaces button.empty {
	opacity: 0.5;
}
#workspaces button.active {
	color: #99d1db;
	border-radius: 5px;
}
#workspaces button:hover {
	color: #85c1dc;
	border-radius: 5px;
}
#tray,
#cpu,
#battery,
#network,
#memory,
#bluetooth,
#pulseaudio {
	min-width: 12px;
	margin: 0 7.5px;
}
#clock {
	color: #8caaee;
	font-weight: bold;
}
#battery {
	color: #a6d189;
}
#battery.charging {
	color: #a6d189;
}
#battery.warning:not(.charging) {
	color: #e78284;
}
#custom-music {
	color: #ca9ee6;
  margin-left: 1rem;
}
